span.altiusrt {
  color: #0b9dd9;
  font-weight: bold; }
  span.altiusrt span {
    color: #666; }

.btn-xl {
  padding: 15px 22px;
  font-size: 24px;
  line-height: 1.33;
  -webkit-border-radius: 6px;
          border-radius: 6px; }

#shareme {
  margin-left: 20px; }

.sharrre .box {
  background: #6f838c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#6f838c, 0), color-stop(#4d5e66, 1));
  background: -webkit-linear-gradient(top, #6f838c 0%, #4d5e66 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#6f838c), to(#4d5e66));
  background: linear-gradient(top, #6f838c 0%, #4d5e66 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f838c', endColorstr='#4d5e66',GradientType=0 );
  -webkit-box-shadow: 0 1px 1px #d3d3d3;
  box-shadow: 0 1px 1px #d3d3d3;
  height: 22px;
  display: inline-block;
  position: relative;
  padding: 0px 8px 0 8px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  float: left;
  clear: both;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.sharrre .left {
  line-height: 22px;
  display: block;
  white-space: nowrap;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
  color: #ffffff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.sharrre .middle {
  position: absolute;
  height: 22px;
  top: 0px;
  right: 0px;
  width: 0px;
  background: #63707e;
  text-shadow: 0px -1px 1px #363f49;
  color: #fff;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  -webkit-box-shadow: -1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  box-shadow: -1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear; }

.sharrre .middle a {
  color: #fff;
  font-weight: bold;
  padding: 0 9px 0 9px;
  text-align: center;
  float: left;
  line-height: 22px;
  -webkit-box-shadow: -1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  box-shadow: -1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset; }

.sharrre .right {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 45px;
  width: 0;
  text-align: center;
  line-height: 22px;
  color: #4b5d61;
  background: #f1faf9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#f1faf9, 0), color-stop(#bacfd2, 1));
  background: -webkit-linear-gradient(top, #f1faf9 0%, #bacfd2 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f1faf9), to(#bacfd2));
  background: linear-gradient(top, #f1faf9 0%, #bacfd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1faf9', endColorstr='#bacfd2',GradientType=0 ); }

.sharrre .box:hover {
  padding-right: 120px; }

.sharrre .middle a:hover {
  text-decoration: none; }

.sharrre .box:hover .middle {
  width: 110px; }

body {
  padding-top: 70px; }

h2 {
  color: #0b9dd9;
  font-size: 32pt;
  font-weight: bold; }

html {
  font-size: 16px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    html {
      font-size: 14px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    html {
      font-size: 12px; } }
  @media (max-width: 767px) {
    html {
      font-size: 10px; } }

div#SizeInfo {
  top: 0;
  right: 0;
  border: 1px solid red;
  padding: 0 0.2em;
  z-index: 2000;
  position: fixed; }

a, a:focus {
  outline: none; }

nav.navbar {
  background-color: white;
  min-height: 70px; }
  @media (max-width: 767px) {
    nav.navbar {
      min-height: 50px; } }
  nav.navbar a img#logo {
    max-width: 230px; }
    @media (max-width: 767px) {
      nav.navbar a img#logo {
        max-width: 160px; } }
  @media (min-width: 768px) {
    nav.navbar ul.nav {
      margin-top: 30px;
      float: right; } }
  nav.navbar ul.nav li {
    color: #666; }
    @media (min-width: 768px) {
      nav.navbar ul.nav li {
        border-left: 1px solid #666;
        height: 20px;
        padding: 0 10px; }
        nav.navbar ul.nav li:first-child {
          border-left: none; } }
    nav.navbar ul.nav li > a {
      color: #666;
      text-transform: uppercase; }
      nav.navbar ul.nav li > a:hover {
        color: #99cc66;
        text-decoration: none; }
      @media (min-width: 768px) {
        nav.navbar ul.nav li > a {
          font-weight: bold;
          padding: 0 0;
          padding-bottom: 10px;
          border-bottom: 4px solid white; }
          nav.navbar ul.nav li > a:hover {
            border-bottom: 4px solid #99cc66; } }

a.target {
  position: relative;
  top: -70px; }
  @media (max-width: 767px) {
    a.target {
      top: -200px; } }

ol.carousel-indicators li {
  margin-left: 3px;
  margin-right: 3px; }
  ol.carousel-indicators li.active {
    margin-left: 2px;
    margin-right: 2px; }

div.altiusrt_navigation {
  position: relative;
  padding: 25px 0; }
  div.altiusrt_navigation ul {
    margin: 20px 0 0;
    float: right; }
    div.altiusrt_navigation ul li {
      border-left: 1px solid #666;
      height: 20px;
      padding: 0 10px;
      color: #666; }
      div.altiusrt_navigation ul li:first-child {
        border-left: none; }
      div.altiusrt_navigation ul li a {
        font-weight: bold;
        padding: 0 0;
        padding-bottom: 10px;
        color: #666;
        text-transform: uppercase;
        border-bottom: 4px solid white; }
        div.altiusrt_navigation ul li a:hover {
          color: #99cc66;
          text-decoration: none;
          border-bottom: 4px solid #99cc66; }

div.hideshare-wrap {
  margin: 0 auto; }

div#carousel-example-generic {
  margin-bottom: 60px; }
  div#carousel-example-generic div.carousel-inner div:first-child div.social {
    position: absolute;
    top: 66%;
    width: 100%;
    text-align: center; }
    div#carousel-example-generic div.carousel-inner div:first-child div.social div.hideshare-wrap {
      display: inline-block;
      font-size: 2vw; }
      div#carousel-example-generic div.carousel-inner div:first-child div.social div.hideshare-wrap a {
        color: white; }
      div#carousel-example-generic div.carousel-inner div:first-child div.social div.hideshare-wrap ul.hideshare-list {
        width: 500px !important; }
    div#carousel-example-generic div.carousel-inner div:first-child div.social > a.facebook, div#carousel-example-generic div.carousel-inner div:first-child div.social > a.twitter {
      display: inline-block;
      font-weight: bold;
      padding: 0 0.7em;
      color: white;
      vertical-align: middle;
      font-size: 2vw; }
      div#carousel-example-generic div.carousel-inner div:first-child div.social > a.facebook:hover, div#carousel-example-generic div.carousel-inner div:first-child div.social > a.twitter:hover {
        color: #99cc66;
        text-decoration: none; }
      div#carousel-example-generic div.carousel-inner div:first-child div.social > a.facebook i, div#carousel-example-generic div.carousel-inner div:first-child div.social > a.twitter i {
        margin-top: 1%;
        font-size: 4vw; }
    div#carousel-example-generic div.carousel-inner div:first-child div.social div#shareme {
      display: inline-block;
      position: relative;
      top: 3px; }

div.altiusrt_product {
  border-bottom: 1px dashed #0b9dd9;
  margin-bottom: 60px; }
  div.altiusrt_product div.row {
    padding: 20px 0; }
    div.altiusrt_product div.row div {
      border-right: 1px dashed #0b9dd9;
      text-align: center;
      margin-bottom: 60px; }
      div.altiusrt_product div.row div:last-child {
        border-right: none; }
      @media (max-width: 767px) {
        div.altiusrt_product div.row div {
          border-right: none; } }
      div.altiusrt_product div.row div img {
        height: 70%;
        width: 70%; }
      @media (max-width: 767px) {
        div.altiusrt_product div.row div {
          margin-bottom: 20px; }
          div.altiusrt_product div.row div img {
            height: 50%;
            width: 50%; } }

div.altiusrt_proposition div.row {
  padding: 20px 8%; }
  div.altiusrt_proposition div.row div {
    margin-bottom: 60px;
    text-align: center;
    padding: 0; }
    div.altiusrt_proposition div.row div img {
      height: 60%;
      width: 60%; }
    @media (max-width: 767px) {
      div.altiusrt_proposition div.row div img {
        height: 40%;
        width: 40%; } }
    div.altiusrt_proposition div.row div h2 {
      font-style: italic;
      color: #0b9dd9;
      font-size: 32pt; }
    div.altiusrt_proposition div.row div p {
      padding: 0 10%; }

div.altiusrt_cta {
  text-align: center;
  margin-bottom: 60px; }
  div.altiusrt_cta .btn-success {
    background-color: #99cc66;
    border-color: #99cc66;
    -webkit-transition: background-colorf 0.5s;
            transition: background-colorf 0.5s; }
    div.altiusrt_cta .btn-success:hover {
      background-color: #80bf40; }

div.altiusrt_form {
  margin-bottom: 60px; }
  div.altiusrt_form .btn-success {
    background-color: #99cc66;
    border-color: #99cc66;
    -webkit-transition: background-colorf 0.5s;
            transition: background-colorf 0.5s; }
    div.altiusrt_form .btn-success:hover {
      background-color: #80bf40; }
  div.altiusrt_form .btn-default {
    background-color: #0b9dd9;
    border-color: #0b9dd9;
    -webkit-transition: background-color 0.5s;
            transition: background-color 0.5s;
    color: white;
    padding-left: 2em;
    padding-right: 2em; }
    div.altiusrt_form .btn-default:hover {
      background-color: #097ba8; }

div.altiusrt_testimonials {
  position: relative;
  margin-bottom: 60px; }
  div.altiusrt_testimonials div.carousel {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 100%;
    top: 0; }
  div.altiusrt_testimonials div.carousel-inner {
    height: 100%; }
    div.altiusrt_testimonials div.carousel-inner div.container {
      max-width: 1200px;
      height: 100%;
      position: relative; }
    div.altiusrt_testimonials div.carousel-inner div.item {
      height: 100%; }
      div.altiusrt_testimonials div.carousel-inner div.item div.photo {
        position: absolute;
        border: 10px solid #d5effa;
        -webkit-box-shadow: 5px 5px 5px #333;
                box-shadow: 5px 5px 5px #333;
        overflow: hidden; }
        div.altiusrt_testimonials div.carousel-inner div.item div.photo.large {
          top: 20%;
          left: 62%;
          z-index: 5;
          -webkit-transform: rotate(7deg);
              -ms-transform: rotate(7deg);
                  transform: rotate(7deg); }
          div.altiusrt_testimonials div.carousel-inner div.item div.photo.large img {
            width: 25vw;
            height: 25vw; }
        div.altiusrt_testimonials div.carousel-inner div.item div.photo.small {
          top: -3%;
          left: 53%;
          z-index: 10;
          -webkit-transform: rotate(-14deg);
              -ms-transform: rotate(-14deg);
                  transform: rotate(-14deg); }
          div.altiusrt_testimonials div.carousel-inner div.item div.photo.small img {
            width: 15vw;
            height: 15vw; }
      div.altiusrt_testimonials div.carousel-inner div.item div.quote {
        position: absolute;
        top: 10%;
        width: 45%;
        color: white;
        font-size: 1.5rem; }
        div.altiusrt_testimonials div.carousel-inner div.item div.quote p {
          padding-top: 1em;
          font-size: 1.2rem; }

div.altiusrt_realtime_map {
  background: #99cc66;
  margin-bottom: 60px; }
  div.altiusrt_realtime_map div.container {
    position: relative; }
    div.altiusrt_realtime_map div.container div.row {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 4%;
      color: white;
      text-align: center;
      color: white;
      font-size: 6rem;
      font-weight: bold;
      text-shadow: 0 0.03em 0px #999; }
      div.altiusrt_realtime_map div.container div.row h2 {
        text-align: center;
        color: white;
        font-size: 2rem;
        white-space: nowrap; }
    div.altiusrt_realtime_map div.container div.caption {
      position: absolute;
      top: 2%;
      right: 2%;
      font-size: 1rem;
      color: white; }

div.altiusrt_footer {
  background: #169ed9;
  padding: 50px 0 50px; }
  div.altiusrt_footer div.container ul {
    text-align: center; }
    div.altiusrt_footer div.container ul li.credit {
      font-size: 0.8em; }
    div.altiusrt_footer div.container ul li a {
      color: white; }
      div.altiusrt_footer div.container ul li a span {
        vertical-align: middle;
        display: inline-block;
        padding-right: 0.5em; }
      div.altiusrt_footer div.container ul li a:hover {
        color: #99cc66;
        text-decoration: none; }
      div.altiusrt_footer div.container ul li a i.fa {
        vertical-align: middle;
        display: inline-block;
        font-size: 3em; }

div.altiusrt_platform, div.altiusrt_about {
  margin-bottom: 60px; }
  div.altiusrt_platform div.container, div.altiusrt_about div.container {
    margin: 10px auto;
    color: #666;
    font-size: 14px; }
    div.altiusrt_platform div.container h2, div.altiusrt_about div.container h2 {
      color: #0b9dd9;
      font-size: 32pt;
      font-weight: bold; }
    div.altiusrt_platform div.container p, div.altiusrt_about div.container p {
      margin: 1em 0;
      color: #666; }
