.btn-xl {
  padding: 15px 22px;
  font-size: 24px;
  line-height: 1.33;
  -webkit-border-radius: 6px;
          border-radius: 6px; }

body {
  padding-top: 70px; }

a, a:focus {
  outline: none; }

nav.navbar {
  background-color: white;
  min-height: 80px; }
  nav.navbar ul.nav {
    margin-top: 40px;
    float: right; }
    nav.navbar ul.nav li {
      border-left: 1px solid #666;
      height: 20px;
      padding: 0 10px;
      color: #666; }
      nav.navbar ul.nav li:first-child {
        border-left: none; }
      nav.navbar ul.nav li > a {
        font-weight: bold;
        padding: 0 0;
        padding-bottom: 10px;
        color: #666;
        text-transform: uppercase;
        border-bottom: 4px solid white; }
        nav.navbar ul.nav li > a:hover {
          color: #99cc66;
          text-decoration: none;
          border-bottom: 4px solid #99cc66; }

div.altiusrt_navigation {
  position: relative;
  padding: 25px 0; }
  div.altiusrt_navigation ul {
    margin: 20px 0 0;
    float: right; }
    div.altiusrt_navigation ul li {
      border-left: 1px solid #666;
      height: 20px;
      padding: 0 10px;
      color: #666; }
      div.altiusrt_navigation ul li:first-child {
        border-left: none; }
      div.altiusrt_navigation ul li a {
        font-weight: bold;
        padding: 0 0;
        padding-bottom: 10px;
        color: #666;
        text-transform: uppercase;
        border-bottom: 4px solid white; }
        div.altiusrt_navigation ul li a:hover {
          color: #99cc66;
          text-decoration: none;
          border-bottom: 4px solid #99cc66; }

div#carousel-example-generic div.carousel-inner div:first-child div.social {
  position: absolute;
  top: 66%;
  width: 100%;
  text-align: center; }
  div#carousel-example-generic div.carousel-inner div:first-child div.social a {
    display: inline-block;
    font-weight: bold;
    padding: 0 0.7em;
    color: white;
    vertical-align: middle;
    font-size: 18px; }
    div#carousel-example-generic div.carousel-inner div:first-child div.social a:hover {
      color: #99cc66;
      text-decoration: none; }
    div#carousel-example-generic div.carousel-inner div:first-child div.social a i {
      margin-top: 5px;
      font-size: 48px; }

div.altiusrt_product {
  border-bottom: 1px dashed #0b9dd9;
  margin-bottom: 20px; }
  div.altiusrt_product div.row {
    padding-bottom: 0px; }
    div.altiusrt_product div.row > div {
      padding: 0;
      margin: 2em 0;
      text-align: center; }
      div.altiusrt_product div.row > div:last-child h2 {
        border-right: none; }
      div.altiusrt_product div.row > div h2 {
        border-right: 1px dashed #0b9dd9;
        margin-top: 0;
        color: #666;
        font-size: 4em; }
        @media (max-width: 767px) {
          div.altiusrt_product div.row > div h2 {
            border-right: none;
            font-size: 2em; } }
      div.altiusrt_product div.row > div p {
        font-size: 2em;
        color: #0b9dd9;
        margin-bottom: 0; }
        div.altiusrt_product div.row > div p i {
          color: #666; }
        @media (max-width: 767px) {
          div.altiusrt_product div.row > div p {
            font-size: 1.5em; } }

div.altiusrt_proposition div.row {
  padding: 20px 0; }
  div.altiusrt_proposition div.row div {
    text-align: center; }
    div.altiusrt_proposition div.row div img {
      height: 60%;
      width: 69%; }
    @media (max-width: 767px) {
      div.altiusrt_proposition div.row div img {
        height: 30%;
        width: 30%; } }
    div.altiusrt_proposition div.row div h2 {
      font-style: italic;
      color: #0b9dd9;
      font-size: 32pt; }
    div.altiusrt_proposition div.row div p {
      padding: 0 10%; }

div.altiusrt_cta {
  padding: 30px 0;
  text-align: center; }
  div.altiusrt_cta .btn-success {
    background-color: #99cc66;
    border-color: #99cc66;
    -webkit-transition: background-colorf 0.5s;
            transition: background-colorf 0.5s; }
    div.altiusrt_cta .btn-success:hover {
      background-color: #80bf40; }

div.altiusrt_testimonials {
  margin-top: 50px;
  background: url(/images/testimonials-bg.png);
  background-position: center top;
  -webkit-background-size: cover;
          background-size: cover;
  height: 575px;
  width: 100%; }
  div.altiusrt_testimonials div.carousel-inner div.item {
    height: 575px;
    overflow: visible; }
    div.altiusrt_testimonials div.carousel-inner div.item div.photo {
      position: absolute;
      border: 10px solid #d5effa;
      -webkit-box-shadow: 5px 5px 5px #333;
              box-shadow: 5px 5px 5px #333; }
      div.altiusrt_testimonials div.carousel-inner div.item div.photo.large {
        top: -1%;
        left: 50%;
        z-index: 5;
        -webkit-transform: rotate(7deg);
            -ms-transform: rotate(7deg);
                transform: rotate(7deg); }
      div.altiusrt_testimonials div.carousel-inner div.item div.photo.small {
        bottom: 6%;
        left: 53%;
        z-index: 10;
        -webkit-transform: rotate(-14deg);
            -ms-transform: rotate(-14deg);
                transform: rotate(-14deg); }
    div.altiusrt_testimonials div.carousel-inner div.item div.quote {
      position: absolute;
      top: 10%;
      width: 30%;
      color: white;
      font-size: 30px; }
      div.altiusrt_testimonials div.carousel-inner div.item div.quote p {
        padding-top: 1em;
        font-size: 16px; }

div.altiusrt_realtime_map {
  background: #99cc66; }
  div.altiusrt_realtime_map div.container {
    position: relative; }
    div.altiusrt_realtime_map div.container div.row {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      color: white;
      text-align: center;
      color: white;
      font-size: 6vw;
      text-shadow: 0 0.03em 0px #999; }
      div.altiusrt_realtime_map div.container div.row h2 {
        text-align: center;
        color: white;
        font-size: 3vw;
        white-space: nowrap; }

div.altiusrt_footer {
  background: #169ed9;
  padding: 50px 0 150px; }
  div.altiusrt_footer div.container ul {
    text-align: center; }
    div.altiusrt_footer div.container ul li a {
      color: white; }
      div.altiusrt_footer div.container ul li a span {
        vertical-align: middle;
        display: inline-block;
        padding-right: 0.5em; }
      div.altiusrt_footer div.container ul li a:hover {
        color: #99cc66;
        text-decoration: none; }
      div.altiusrt_footer div.container ul li a i.fa {
        vertical-align: middle;
        display: inline-block;
        font-size: 3em; }

div.altiusrt_platform div.container, div.altiusrt_about div.container {
  margin: 10px auto;
  color: #666;
  font-size: 14px; }
  div.altiusrt_platform div.container h2, div.altiusrt_about div.container h2 {
    color: #0b9dd9;
    font-size: 32pt; }
  div.altiusrt_platform div.container p, div.altiusrt_about div.container p {
    margin: 1em 0;
    color: #666; }
